:root {
    --main-font: "GTEestiPro", Arial, sans-serif;
    --primary-color: #1a73e8;
    --secondary-color: #f1f5f9;
    --text-color: #333;
    --header-footer-bg: #ffffff;
    --border-color: #e0e0e0;
    --link-color: inherit;
    --link-decoration: none;
}

header {
    position: sticky;
    background-color: var(--header-footer-bg);
    color: var(--text-color);
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*
.header-menu > div {
    flex: 1 0 0;
}

.header-menu > div:nth-child(2) {
    display: flex;
    justify-content: center;
}
*/
.search-form-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form {
    position: relative;
    width: 80%;
    max-width: 600px;
    padding: 15px;
    box-sizing: border-box;
}

.search-form input {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-button svg {
    width: 24px;
    height: 24px;
    fill: none;
    stroke: var(--text-color);
    stroke-width: 2;
}

#logo-catalog-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_img {
    width: 150px;
    height: auto;
    margin-right: 20px;
}

#user-auth {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.auth-dropdown {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: var(--header-footer-bg);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    display: none;
}

.auth-dropdown.hidden {
    display: none;
}

.auth-dropdown ol {
    list-style: none;
    padding: 10px;
    margin: 0;
}

.auth-dropdown ol li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.auth-dropdown ol li:hover {
    background-color: var(--secondary-color);
}

body {
    font-family: var(--main-font), sans-serif;
    background-color: var(--secondary-color);
    margin: 0;
    color: var(--text-color);
}

footer {
    padding: 15px 0;
    background-color: var(--header-footer-bg);
    text-align: center;
    font-size: 0.9em;
    color: var(--text-color);
    border-top: 1px solid var(--border-color);
}

a {
    color: var(--link-color);
    text-decoration: var(--link-decoration);
}


.product-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
}

.product-list ul {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.product-list li {
    flex: 1 1 calc(20% - 40px);
    margin: 10px 5px 10px 5px;
    display: flex;
    justify-content: center;
}

.product-card {
    background-color: var(--secondary-color);
    border: 1px solid var(--border-color);
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    max-width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.product-image {
    max-width: 100%; /* Ограничение ширины */
    height: auto;
    border-radius: 10px;
    object-fit: contain;
}

.product-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0;
    color: var(--text-color);
}

.product-price {
    font-size: 1.1em;
    font-weight: bold;
    color: var(--primary-color);
    margin: 5px;
}

.dropdown-container {
    position: absolute;
    top: 70px; /* Под меню */
    left: 20px;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none; /* Скрыто по умолчанию */
    z-index: 200;
    width: 200px;
}

.dropdown-content {
    list-style: none;
    padding: 10px;
    margin: 0;
}

.dropdown-content li {
    padding: 8px 10px;
    cursor: pointer;
}

.dropdown-content li:hover {
    background-color: #f0f0f0;
}

.dropdown-button {
    background-color: #1a73e8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .2px;
    line-height: 24px;
}

.dropdown-button:hover {
    background-color: #1558c0;
}

@media screen and (max-width: 740px) {
    .header-menu {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .search-form {
        width: 100%;
    }

    .search-button {
        display: flex;
    }
}

@media screen and (max-width: 378px) {
    .product-card {
        max-width: 100%;
    }

    #user-auth img {
        width: 30px;
        height: 30px;
    }

    .search-form input {
        font-size: 14px;
    }
}

@media screen and (max-width: 230px) {
    .search-button {
        display: none;
    }
}

@media screen and (max-height: 430px) {
    header {
        position: static;
    }
}